.mat-column-action{
  text-align: center!important;
}
.mat-column-lastName{
  text-align: center!important;
}
.mat-column-middleName{
  text-align: center!important;
}
.mat-column-firstName{
  text-align: center!important;
}
.mat-column-srNo{
  text-align: center!important;
}
